/* -----------------------------------------------------------------------------
 * CONTENT 
 * ----------------------------------------------------------------------------- */
	#toDoSearch li .checkToDo,
	#toDoList li .checkToDo {
		z-index:1;
		margin-right: -19px;
		margin-left: 5px;
	}
	#toDoSearch li label,
	#toDoList li label {
		position:relative;
		z-index:2;
	}
	#toDoSearch li .btn,
	#toDoList li .btn {
		width:25px;
		height:25px;
	}
	#toDoSearch li .checkToDo + label,
	#toDoList li .checkToDo + label {
		background: none;
		height: 17px;
	}
	
	/* -------------------------------------------------------------------------
	 * Inner pages
	 * ------------------------------------------------------------------------- */
	#content #submitTask {
		margin-top:10px !important; 
	}

